Idea-Projekt/target/
Idea-Projekt/.settings/
Idea-Projekt/.classpath
Idea-Projekt/.project
Idea-Projekt/dependency-reduced-pom.xml
Idea-Projekt/*.log

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Source: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff:
Idea-Projekt/.idea/**/workspace.xml
Idea-Projekt/.idea/**/tasks.xml
Idea-Projekt/.idea/dictionaries

# Sensitive or high-churn files:
Idea-Projekt/.idea/**/dataSources/
Idea-Projekt/.idea/**/dataSources.ids
Idea-Projekt/.idea/**/dataSources.local.xml
Idea-Projekt/.idea/**/sqlDataSources.xml
Idea-Projekt/.idea/**/dynamic.xml
Idea-Projekt/.idea/**/uiDesigner.xml

# Gradle:
Idea-Projekt/.idea/**/gradle.xml
Idea-Projekt/.idea/**/libraries

# CMake
Idea-Projekt/cmake-build-debug/
Idea-Projekt/cmake-build-release/

# Mongo Explorer plugin:
Idea-Projekt/.idea/**/mongoSettings.xml

## File-based project format:
Idea-Projekt/*.iws

## Plugin-specific files:

# IntelliJ
Idea-Projekt/out/

# mpeltonen/sbt-idea plugin
Idea-Projekt/.idea_modules/

# JIRA plugin
Idea-Projekt/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Idea-Projekt/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
Idea-Projekt/com_crashlytics_export_strings.xml
Idea-Projekt/crashlytics.properties
Idea-Projekt/crashlytics-build.properties
Idea-Projekt/fabric.properties

# Operating systems
[Dd]esktop.ini
Thumbs.db

.DS_Store
._*

*~
