<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="Controller" fileName="data/log/Controller.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <File name="Utils" fileName="data/log/Utils.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <File name="Models" fileName="data/log/Models.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <File name="SelectQuery" fileName="data/logs/SelectQuery.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <File name="DeleteQuery" fileName="data/logs/DeleteQuery.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <File name="InsertQuery" fileName="data/logs/InsertQuery.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <File name="UpdateQuery" fileName="data/logs/UpdateQuery.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- You my want to define class or package level per-logger rules -->
        <Logger name="de.hdm_stuttgart.mi.PetStudyBuddies.Controller" level="debug">
            <AppenderRef ref="Controller"/>
        </Logger>
        <Logger name="de.hdm_stuttgart.mi.PetStudyBuddies.Core.Utils" level="debug">
            <AppenderRef ref="Utils"/>
        </Logger>
        <Logger name="de.hdm_stuttgart.mi.PetStudyBuddies.Models" level="debug">
            <AppenderRef ref="Models"/>
        </Logger>
        <Logger name="de.hdm_stuttgart.mi.PetStudyBuddies.Core.DB.SelectQuery" level="debug">
            <AppenderRef ref="SelectQuery"/>
        </Logger>
        <Logger name="de.hdm_stuttgart.mi.PetStudyBuddies.Core.DB.InsertQuery" level="debug">
            <AppenderRef ref="InsertQuery"/>
        </Logger>
        <Logger name="de.hdm_stuttgart.mi.PetStudyBuddies.Core.DB.UpdateQuery" level="debug">
            <AppenderRef ref="UpdateQuery"/>
        </Logger>
        <Logger name="de.hdm_stuttgart.mi.PetStudyBuddies.Core.DB.DeleteQuery" level="debug">
            <AppenderRef ref="DeleteQuery"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
